[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
ed25519 = "*"

[dev-packages]
pytest = ">=2.8.0,<4.1"

[requires]
python_version = "3.7"

[scripts]
tests = "python tests/test.py"
